.articles {
    margin: 0 10%;
}

.articles:after {
    content: '';
    /* display: table; */
    clear: both;
}

.articlesColumn {
    float: left;
    width: 33.333%;
}
@media (max-width:1500px) {
    .articlesColumn {
        width: 50%;
    }
}
@media (max-width:1000px) {
    .articlesColumn {
        width: 100%;
    }
}
