.articles:after {
    content: '';
    /* display: table; */
    clear: both;
}

.articles-column {
    float: left;
    width: 33.3%;
}

.article-container {
    box-sizing: border-box;
    padding: 20px;
}

.article-img {
    display: block;
    width: 100%;
    height: 100%;
}

.article-img--enter {
    filter: brightness(40%)
}

.article-container--info {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    color: white;
    font-size: 16pt;
    background: black;
    opacity: 0.7;
}
